/*
Theme Name: Colinear

Adding support for language written in a Right To Left (RTL) direction is easy -
it's just a matter of overwriting all the horizontal positioning attributes
of your CSS stylesheet in a separate stylesheet file named rtl.css.

http://codex.wordpress.org/Right_to_Left_Language_Support

*/

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Normalize
# Typography
# Elements
# Navigation
	## Main Navigation
	## Pagination
# Accessibility
# Widgets
# Content
	## Header
	## Posts & Pages
	## Comments
# Media
# Jetpack
	## Contact Form
	## Infinite Scroll
	## Recipes
	## Widgets
# Eventbrite
# Responsive
	## x >= 864px
	## x >= 1056px
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
body {
	direction: rtl;
	unicode-bidi: embed;
}

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
blockquote {
	border-left: 0;
	border-right: 3px solid #0074d9;
	padding: 0 24px 0 0;
}
blockquote blockquote {
	margin-left: 0;
	margin-right: 24px;
}
pre {
	border-left: 0;
	border-right: 3px solid #0074d9;
}

/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
ul,
ol {
	margin-left: 0;
	margin-right: 1.25em;
}
li > ul,
li > ol {
	margin-left: 0;
	margin-right: 24px;
}
td,
th {
	border-left: 0;
	border-right: 1px solid #eee;
}

/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Main Navigation
--------------------------------------------------------------*/
.main-navigation ul ul {
	padding-left: 0;
	padding-right: 24px;
}
.main-navigation .menu-item-has-children > a {
	margin-left: 62px;
	margin-right: 0;
}
.dropdown-toggle {
	left: 24px;
	right: auto;
}

/*--------------------------------------------------------------
## Pagination
--------------------------------------------------------------*/
.comment-navigation .nav-previous,
.posts-navigation .nav-previous {
	float: right;
}
.comment-navigation .nav-next,
.posts-navigation .nav-next {
	float: left;
	text-align: left;
}

/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/
.screen-reader-text:focus {
	left: auto;
	right: 5px;
}

/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/
.widget_calendar caption {
    text-align: right;
}
.widget_nav_menu .page_item_has_children > a,
.widget_nav_menu .menu-item-has-children > a {
	padding-left: 45px;
	padding-right: 0;
}

/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/

/*--------------------------------------------------------------
## Header
--------------------------------------------------------------*/
.site-branding {
	float: right;
	margin-left: 24px;
	margin-right: 0;
}

/*--------------------------------------------------------------
## Posts & Pages
--------------------------------------------------------------*/
.sticky .post-thumbnail {
	margin-left: 0;
	margin-right: -24px;
}
.entry-footer:before,
.page-links:before {
	left: auto;
	right: 0;
}
.page-links a,
.page-links > span {
	margin-left: 6px;
	margin-right: 0;
}
.page-links > .page-links-title {
	padding-left: 5px;
	padding-right: auto;
	text-align: right;
}

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
.comment-reply-title small {
	float: left;
}
.comment-meta {
	border-left: 0;
	border-right: 3px solid #222;
}
.comment-metadata .edit-link {
	border-left: 0;
	border-right: 1px solid #eee;
	margin-left: 0;
	margin-right: 2px;
	padding-left: 0;
	padding-right: 6px;
}
.comment-author .avatar {
	float: right;
	margin-left: 12px;
	margin-right: 0;
}
.bypostauthor .comment-meta {
	border-right-color: #0074d9;
}

/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/
.wp-caption-text {
	text-align: right;
}

/*--------------------------------------------------------------
# Jetpack
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Contact Form
--------------------------------------------------------------*/
.site .contact-form input[type="checkbox"],
.site .contact-form input[type="radio"] {
	margin-left: 6px;
	margin-right: auto;
}

/*--------------------------------------------------------------
## Infinite Scroll
--------------------------------------------------------------*/
.infinite-loader .spinner {
	left: auto !important;
	right: 12px !important;
}

/*--------------------------------------------------------------
## Recipes
--------------------------------------------------------------*/
.site-content .jetpack-recipe blockquote {
	margin-right: 0;
}

/*--------------------------------------------------------------
## Widgets
--------------------------------------------------------------*/
.widget_rss_links p a + a {
	margin-left: 0;
	margin-right: 8px;
}
.site .widget_wpcom_social_media_icons_widget li {
	float: right;
	margin-left: 6px;
	margin-right: 0;
}
.site .widget_wpcom_social_media_icons_widget li:last-child {
	margin-left: 0;
}

/*--------------------------------------------------------------
# Eventbrite
--------------------------------------------------------------*/
.eventbrite-event .entry-header span {
	padding-left: 12px;
	padding-right: 0;
}
.eventbrite-event .entry-header span:last-of-type {
	padding-left: 0;
}

/*--------------------------------------------------------------
# Responsive
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## x >= 864px
--------------------------------------------------------------*/
@media screen and (min-width: 864px) {
	.main-navigation li {
		float: right;
	}
	.main-navigation ul ul {
		float: right;
		left: auto;
		padding-right: 0;
		right: -999em;
	}
	.main-navigation ul ul ul {
		left: auto;
		right: -999em;
	}
	.main-navigation ul li:hover > ul,
	.main-navigation ul li.focus > ul {
		left: auto;
		right: auto;
	}
	.main-navigation ul ul li:hover > ul,
	.main-navigation ul ul li.focus > ul {
		left: auto;
		right: 100%;
	}
	.main-navigation .menu-item-has-children > a {
		margin-left: 0;
	}
	.main-navigation ul ul .menu-item-has-children > a:after {
		-webkit-transform: rotate(90deg);
		-moz-transform: rotate(90deg);
		-ms-transform: rotate(90deg);
		transform: rotate(90deg);
	}
}

/*--------------------------------------------------------------
## x >= 1056px
--------------------------------------------------------------*/
@media screen and (min-width: 1056px) {
	.footer-widget {
		float: right;
		margin-left: 48px;
		margin-right: 0;
	}
	.footer-widget:last-of-type {
		margin-left: 0;
	}
}